<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Помилка</title>
  </head>
  <body>
    <div>
      <h1>Сталася помилка</h1>
      <p><%= error.message || 'Internal Server Error' %></p>
      <% if (error.stack) { %>
      <pre><%= error.stack %></pre>
      <% } %>
    </div>
  </body>
</html>
