<!DOCTYPE html>
<html>
  <head>
    <title>Менеджер користувачів</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include('sections/header', { title: 'Home' }) %>
    <h1>Вітаємо на нашому сайті.</h1>
  </body>
</html>
